:root {
    --f-family: 'Futura', 'Verdana', 'Arial', open-sans, san-serif;
    --c-primary: #563d7c;
    --c-primary-hover: #8570a5;
    --c-light: #ffffff;
}

body,
p,
div,
span {
    font-size: large;
}

body {
    font-family: var(--f-family);
    font-weight: normal;
}
header {
    height: 100px;
    border-bottom: var(--c-primary) solid 4px;
}

nav {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav div {
    padding: 1rem 1rem 0 1rem;
}

button { 
    background: var(--c-primary);
    color: var(--c-light);
    margin: 2%;
    padding: 7px 10px;
}

button:hover {
    background: var(--c-primary-hover);
}

a {
    color: var(--c-primary);
}

a:hover {
    color: var(--c-primary-hover);
}

h1 {
    text-align: center;
    font-weight: normal;
}

.gamePrompt {
    max-width: 920px;
    margin: auto;
    padding: 5% 10%;
}

.gamePrompt p {
    font-weight: large;
    font-size: x-large;
}


#overlay {
    height: calc(100vh - 100px);
    text-align: center;
    z-index: 2;
}

.hide {
    display: none;
}